nav{    
    background-color:rebeccapurple;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 68%;
    padding-left:0px;
    position: fixed;
    width: 100%;
        
}

a.menu{
    color: white;
    text-decoration: none;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 15px;
    padding-right:15px;
        
}

fa fa-linkedin{
    color: white
}

a:hover{
    color:white;
    background:mediumpurple;
    
}

body{
    background-color: mediumpurple;
    margin: 0px;
}

div#ccLogo{
    padding: 20px;
    width: 450px;
    /**border: 2px blue solid;**/
    display:inline-block;
    margin-left: 300px;
    margin-top: 80px;
}

div#bio{
    padding: 10px;
    width: 500px;
    /**border: 2px red solid;**/
    display:inline-block;
}

img {
    width: 400px;
    height: auto;
}

h1{color:rebeccapurple; font-size:34px;}
h2{color:white; font-size:21px;}
p{color:white; font-size:21px;}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}   


.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 0%;
}

